.background{
margin:0;
display:flex;
justify-content: center;
align-items: center;
height: 100vh;

}
#quote-box{
  width: 400px;
  margin: 0 auto;
  min-height: 300px;
display: flex;
flex-direction: column;
justify-content:space-between ;
background-color: rgb(255, 255, 255);
border-radius: 10px;
box-shadow: 5px 5px 10px black;
text-align:left;
}
.quote-content{
height: 230px;
display: flex;
flex-direction: column;
justify-content:space-between ;
margin: 15px;



}
#author{
  
text-align: right;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
 
  color: white;
  font-size: 14px;
  
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #643131;
}
.generate-random-button {
  display: flex;  
  justify-content: center;
  
}
.emotion-buttons {
  display: flex;
  justify-content: center;
  margin: 5px; /* Space between emotion buttons */
  gap: 5px;
}
