.background{
margin:0;
display:flex;
justify-content: center;
align-items: center;
height: 100vh;

}
#quote-box{
  font-family: 'Roboto Mono';
  width: 380px;
  margin: 0 auto;
  
display: flex;
flex-direction: column;
justify-content:space-between ;
background-color: rgba(252, 252, 252, 0.95);
border-radius: 10px;
box-shadow: 5px 5px 10px black;
text-align:left;
}
.quote-content{
height: 250px;
display: flex;
flex-direction: column;
justify-content:space-between ;
margin: 15px;



}
#author{
  
text-align: right;
}
button {
  font-family: 'Roboto Mono';
  padding: 5px;
  border: none;
  border-radius: 10px;
 
  color: white;
  font-size: 13px;
  
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6e6e6e7f !important;
}
.generate-random-button {
  display: flex;  
  justify-content: center;
  margin-left: 50px;
}
.emotion-buttons {
  display: flex;
  justify-content: center;
  margin: 5px; /* Space between emotion buttons */
  gap: 5px;
}
.segment {
  display: inline-block; /* Ensure each span behaves like an inline block for transform animations */
  /* Initial Y position */
  
 
}
